In [1]:
import pandas as pd, numpy as np, matplotlib.pyplot as plt, seaborn as sb

In [2]:
# 데이터 불러오기
df_2023 = pd.read_csv("../../data/raw/현대/hmc-eu-retail-sales-december-y2023.csv")
df_2024 = pd.read_csv("../../data/raw/현대/hmc-eu-retail-sales-december-y2024.CSV")
df_2025 = pd.read_csv("../../data/raw/현대/hmc-eu-retail-sales-january-y2025.CSV")

In [3]:
df_2023.head()

,Models,Vehicle Type,Jan.,Feb.,Mar.,Apr.,May,Jun.,Jul.,Aug.,Sep.,Oct.,Nov.,Dec.
0,i10 (AC3),PC,"4,791","3,820","5,365","3,514","4,714","5,812","4,593","2,961","4,762","3,965","4,564","3,953"
1,i20 (GB),PC,-,-,-,-,-,-,-,-,-,-,-,-
2,i20 (BC3),PC,"3,100","3,221","5,174","4,437","4,722","4,607","4,908","3,119","4,747","3,872","3,459","3,041"
3,i20 N (BC3 N),PC,202,194,600,360,444,342,298,379,663,592,597,634
4,Elantra,PC,117,131,108,181,147,237,198,90,40,31,80,30

In [4]:
def rename(df):
    df.rename(columns={
    'Models': '차종',
    'Vehicle Type': '차량 유형',
    'Jan.': '1월',
    'Feb.': '2월',
    'Mar.': '3월',
    'Apr.': '4월',
    'May': '5월',
    'Jun.': '6월',
    'Jul.': '7월',
    'Aug.': '8월',
    'Sep.': '9월',
    'Oct.': '10월',
    'Nov.': '11월',
    'Dec.': '12월'
}, inplace=True)

In [5]:
rename(df_2023)
rename(df_2024)
rename(df_2025)

In [6]:
df_2023["연도"] = 2023
df_2024["연도"] = 2024
df_2025["연도"] = 2025

In [9]:
# 0. fillna
df_2023.fillna(0, inplace=True)
df_2024.fillna(0, inplace=True)
df_2025.fillna(0, inplace=True)

# 1. '-' → 0
df_2023.replace('-', 0, inplace=True)
df_2024.replace('-', 0, inplace=True)
df_2025.replace('-', 0, inplace=True)

# 2. ',' 제거
df_2023.replace(',', '', regex=True, inplace=True)
df_2024.replace(',', '', regex=True, inplace=True)
df_2025.replace(',', '', regex=True, inplace=True)

# 3. '(숫자)' → -숫자 로 처리 (회계 표기)
df_2023.replace(r'\((\d+)\)', r'-\1', regex=True, inplace=True)
df_2024.replace(r'\((\d+)\)', r'-\1', regex=True, inplace=True)
df_2025.replace(r'\((\d+)\)', r'-\1', regex=True, inplace=True)

# 4. 공백 제거 (strip)
df_2023 = df_2023.applymap(lambda x: str(x).strip() if isinstance(x, str) else x)
df_2024 = df_2024.applymap(lambda x: str(x).strip() if isinstance(x, str) else x)
df_2025 = df_2025.applymap(lambda x: str(x).strip() if isinstance(x, str) else x)

# 5. 숫자형으로 변환 (3번째 컬럼부터)
df_2023.iloc[:, 2:] = df_2023.iloc[:, 2:].astype(int)
df_2024.iloc[:, 2:] = df_2024.iloc[:, 2:].astype(int)
df_2025.iloc[:, 2:] = df_2025.iloc[:, 2:].astype(int)

/var/folders/_k/9pcm610n0sb_j9n64tc8zgcw0000gn/T/ipykernel_83551/1855851768.py:22: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_2023 = df_2023.applymap(lambda x: str(x).strip() if isinstance(x, str) else x)
/var/folders/_k/9pcm610n0sb_j9n64tc8zgcw0000gn/T/ipykernel_83551/1855851768.py:23: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_2024 = df_2024.applymap(lambda x: str(x).strip() if isinstance(x, str) else x)
/var/folders/_k/9pcm610n0sb_j9n64tc8zgcw0000gn/T/ipykernel_83551/1855851768.py:24: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_2025 = df_2025.applymap(lambda x: str(x).strip() if isinstance(x, str) else x)

In [10]:
df_2023.head()

,차종,차량 유형,1월,2월,3월,4월,5월,6월,7월,8월,9월,10월,11월,12월,연도
0,i10 (AC3),PC,4791,3820,5365,3514,4714,5812,4593,2961,4762,3965,4564,3953,2023
1,i20 (GB),PC,0,0,0,0,0,0,0,0,0,0,0,0,2023
2,i20 (BC3),PC,3100,3221,5174,4437,4722,4607,4908,3119,4747,3872,3459,3041,2023
3,i20 N (BC3 N),PC,202,194,600,360,444,342,298,379,663,592,597,634,2023
4,Elantra,PC,117,131,108,181,147,237,198,90,40,31,80,30,2023

In [11]:
df_2024.head()

,차종,차량 유형,1월,2월,3월,4월,5월,6월,7월,8월,9월,10월,11월,12월,연도
0,i10 (AC3),PC,4120,4148,5293,4120,5490,6588,5534,3781,6136,5257,4988,3511,2024
1,i20 (GB),PC,0,0,0,0,0,0,0,0,0,0,0,0,2024
2,i20 (BC3),PC,3843,3372,5506,5496,5270,5266,4106,3541,4922,4242,3600,3395,2024
3,i20 N (BC3 N),PC,641,521,947,562,456,340,242,167,110,72,48,53,2024
4,Elantra,PC,51,34,74,118,98,100,246,176,51,64,31,34,2024

In [13]:
df_2025.head()

,차종,차량 유형,1월,2월,3월,4월,5월,6월,7월,8월,9월,10월,11월,12월,연도
0,i10 (AC3),PC,4224,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2025
1,i20 (GB),PC,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2025
2,i20 (BC3),PC,4167,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2025
3,i20 N (BC3 N),PC,30,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2025
4,Elantra,PC,14,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2025

In [14]:
df_2023.columns

Index(['차종', '차량 유형', '1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월',
       '10월', '11월', '12월', '연도'],
      dtype='object')

In [15]:
df_2024.columns

Index(['차종', '차량 유형', '1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월',
       '10월', '11월', '12월', '연도'],
      dtype='object')

In [16]:
df_2025.columns

Index(['차종', '차량 유형', '1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월',
       '10월', '11월', '12월', '연도'],
      dtype='object')

In [17]:
df = pd.concat([df_2023, df_2024, df_2025], ignore_index=True)

In [18]:
df.head()

,차종,차량 유형,1월,2월,3월,4월,5월,6월,7월,8월,9월,10월,11월,12월,연도
0,i10 (AC3),PC,4791,3820,5365,3514,4714,5812,4593,2961,4762,3965,4564,3953,2023
1,i20 (GB),PC,0,0,0,0,0,0,0,0,0,0,0,0,2023
2,i20 (BC3),PC,3100,3221,5174,4437,4722,4607,4908,3119,4747,3872,3459,3041,2023
3,i20 N (BC3 N),PC,202,194,600,360,444,342,298,379,663,592,597,634,2023
4,Elantra,PC,117,131,108,181,147,237,198,90,40,31,80,30,2023

In [19]:
df.columns

Index(['차종', '차량 유형', '1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월',
       '10월', '11월', '12월', '연도'],
      dtype='object')

In [20]:
df.isna().sum()

차종       0
차량 유형    0
1월       0
2월       0
3월       0
4월       0
5월       0
6월       0
7월       0
8월       0
9월       0
10월      0
11월      0
12월      0
연도       0
dtype: int64

In [21]:
df.fillna(0, inplace=True)

In [22]:
df.isna().sum()

차종       0
차량 유형    0
1월       0
2월       0
3월       0
4월       0
5월       0
6월       0
7월       0
8월       0
9월       0
10월      0
11월      0
12월      0
연도       0
dtype: int64

In [23]:
df.columns

Index(['차종', '차량 유형', '1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월',
       '10월', '11월', '12월', '연도'],
      dtype='object')

In [24]:
df.to_csv("../../data/processed/현대_차종별판매실적_전처리.CSV", index=False)

# 2

In [25]:
# 데이터 불러오기
df_2023 = pd.read_csv("../../data/raw/현대/hmc-export-by-region-december-y2023.CSV")
df_2024 = pd.read_csv("../../data/raw/현대/hmc-export-by-region-december-y2024.CSV")
df_2025 = pd.read_csv("../../data/raw/현대/hmc-export-by-region-january-y2025.CSV")

In [26]:
df_2023.head()

,Region,Continent,Jan.,Feb.,Mar.,Apr.,May,Jun.,Jul.,Aug.,Sep.,Oct.,Nov.,Dec.
0,U.S.A,North America,"33,157","44,040","44,161","43,894","51,132","47,682","46,768","46,840","49,241","57,589","58,435","58,183"
1,Canada,North America,"9,824","11,958","11,464","10,792","10,478","11,495","8,383","6,155","6,143","9,776","10,729","11,805"
2,Mexico,North America,8,82,57,45,69,31,202,216,75,130,200,112
3,Europe Subsidiaries,Europe,"8,949","14,775","12,550","11,058","12,274","13,248","8,080","5,970","6,476","6,753","7,476","6,762"
4,Europe Distributors,Europe,"2,127","1,526","2,525","3,539","2,940","2,913","3,767","3,675","3,059","3,625","2,046","2,875"

In [27]:
def rename(df):
    df.rename(columns={
    'Region': '지역',
    'Continent': '대륙',
    'Jan.': '1월',
    'Feb.': '2월',
    'Mar.': '3월',
    'Apr.': '4월',
    'May': '5월',
    'Jun.': '6월',
    'Jul.': '7월',
    'Aug.': '8월',
    'Sep.': '9월',
    'Oct.': '10월',
    'Nov.': '11월',
    'Dec.': '12월'
}, inplace=True)

In [28]:
rename(df_2023)
rename(df_2024)
rename(df_2025)

In [29]:
df_2023["연도"] = 2023
df_2024["연도"] = 2024
df_2025["연도"] = 2025

In [30]:
# 0. fillna
df_2023.fillna(0, inplace=True)
df_2024.fillna(0, inplace=True)
df_2025.fillna(0, inplace=True)

# 1. '-' → 0
df_2023.replace('-', 0, inplace=True)
df_2024.replace('-', 0, inplace=True)
df_2025.replace('-', 0, inplace=True)

# 2. ',' 제거
df_2023.replace(',', '', regex=True, inplace=True)
df_2024.replace(',', '', regex=True, inplace=True)
df_2025.replace(',', '', regex=True, inplace=True)

# 3. '(숫자)' → -숫자 로 처리 (회계 표기)
df_2023.replace(r'\((\d+)\)', r'-\1', regex=True, inplace=True)
df_2024.replace(r'\((\d+)\)', r'-\1', regex=True, inplace=True)
df_2025.replace(r'\((\d+)\)', r'-\1', regex=True, inplace=True)

# 4. 공백 제거 (strip)
df_2023 = df_2023.applymap(lambda x: str(x).strip() if isinstance(x, str) else x)
df_2024 = df_2024.applymap(lambda x: str(x).strip() if isinstance(x, str) else x)
df_2025 = df_2025.applymap(lambda x: str(x).strip() if isinstance(x, str) else x)

# 5. 숫자형으로 변환 (3번째 컬럼부터)
df_2023.iloc[:, 2:] = df_2023.iloc[:, 2:].astype(int)
df_2024.iloc[:, 2:] = df_2024.iloc[:, 2:].astype(int)
df_2025.iloc[:, 2:] = df_2025.iloc[:, 2:].astype(int)

/var/folders/_k/9pcm610n0sb_j9n64tc8zgcw0000gn/T/ipykernel_83551/1855851768.py:22: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_2023 = df_2023.applymap(lambda x: str(x).strip() if isinstance(x, str) else x)
/var/folders/_k/9pcm610n0sb_j9n64tc8zgcw0000gn/T/ipykernel_83551/1855851768.py:23: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_2024 = df_2024.applymap(lambda x: str(x).strip() if isinstance(x, str) else x)
/var/folders/_k/9pcm610n0sb_j9n64tc8zgcw0000gn/T/ipykernel_83551/1855851768.py:24: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_2025 = df_2025.applymap(lambda x: str(x).strip() if isinstance(x, str) else x)

In [32]:
df_2023.head()

,지역,대륙,1월,2월,3월,4월,5월,6월,7월,8월,9월,10월,11월,12월,연도
0,U.S.A,North America,33157,44040,44161,43894,51132,47682,46768,46840,49241,57589,58435,58183,2023
1,Canada,North America,9824,11958,11464,10792,10478,11495,8383,6155,6143,9776,10729,11805,2023
2,Mexico,North America,8,82,57,45,69,31,202,216,75,130,200,112,2023
3,Europe Subsidiaries,Europe,8949,14775,12550,11058,12274,13248,8080,5970,6476,6753,7476,6762,2023
4,Europe Distributors,Europe,2127,1526,2525,3539,2940,2913,3767,3675,3059,3625,2046,2875,2023

In [33]:
df_2024.head()

,지역,대륙,1월,2월,3월,4월,5월,6월,7월,8월,9월,10월,11월,12월,연도
0,U.S.A.,North\nAmerica,55421,43704,57669,63939,62068,55809,44859,52389,45941,52255,45782,57802,2024
1,Canada,North\nAmerica,11189,9437,11914,10738,10512,12175,10867,8529,10163,12632,9098,10807,2024
2,Mexico,North\nAmerica,60,51,287,373,194,150,143,146,189,153,121,72,2024
3,Europe Subsidiaries,Europe,7172,8467,8538,10326,7889,7881,6881,6457,6214,7967,8753,10033,2024
4,Europe Distributors,Europe,2525,1510,1898,2529,2009,1887,1733,1466,1567,2576,3002,2809,2024

In [34]:
df_2025.head()

,지역,대륙,1월,2월,3월,4월,5월,6월,7월,8월,9월,10월,11월,12월,연도
0,U.S.A.,North\nAmerica,41454,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2025
1,Canada,North\nAmerica,10472,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2025
2,Mexico,North\nAmerica,29,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2025
3,Europe Subsidiaries,Europe,8298,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2025
4,Europe Distributors,Europe,4017,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2025

In [35]:
df_2023.columns

Index(['지역', '대륙', '1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월',
       '11월', '12월', '연도'],
      dtype='object')

In [36]:
df_2024.columns

Index(['지역', '대륙', '1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월',
       '11월', '12월', '연도'],
      dtype='object')

In [37]:
df_2025.columns

Index(['지역', '대륙', '1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월',
       '11월', '12월', '연도'],
      dtype='object')

In [38]:
df = pd.concat([df_2023, df_2024, df_2025], ignore_index=True)

In [39]:
df.isna().sum()

지역     0
대륙     0
1월     0
2월     0
3월     0
4월     0
5월     0
6월     0
7월     0
8월     0
9월     0
10월    0
11월    0
12월    0
연도     0
dtype: int64

In [40]:
df.fillna(0, inplace=True)

In [41]:
df.isna().sum()

지역     0
대륙     0
1월     0
2월     0
3월     0
4월     0
5월     0
6월     0
7월     0
8월     0
9월     0
10월    0
11월    0
12월    0
연도     0
dtype: int64

In [42]:
df.columns

Index(['지역', '대륙', '1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월',
       '11월', '12월', '연도'],
      dtype='object')

In [43]:
df.head()

,지역,대륙,1월,2월,3월,4월,5월,6월,7월,8월,9월,10월,11월,12월,연도
0,U.S.A,North America,33157,44040,44161,43894,51132,47682,46768,46840,49241,57589,58435,58183,2023
1,Canada,North America,9824,11958,11464,10792,10478,11495,8383,6155,6143,9776,10729,11805,2023
2,Mexico,North America,8,82,57,45,69,31,202,216,75,130,200,112,2023
3,Europe Subsidiaries,Europe,8949,14775,12550,11058,12274,13248,8080,5970,6476,6753,7476,6762,2023
4,Europe Distributors,Europe,2127,1526,2525,3539,2940,2913,3767,3675,3059,3625,2046,2875,2023

In [44]:
df.to_csv("../../data/processed/현대_지역별수출실적_전처리.CSV", index=False)

# 3

In [60]:
# 데이터 불러오기
df_2023 = pd.read_csv("../../data/raw/현대/hmc-global-plant-sales-december-y2023.CSV")
df_2024 = pd.read_csv("../../data/raw/현대/hmc-global-plant-sales-december-y2024.CSV")
df_2025 = pd.read_csv("../../data/raw/현대/hmc-global-plant-sales-december-y2025.CSV")

In [61]:
df_2023

,Overseas Plants,Model,Sales Type,Jan.,Feb.,Mar.,Apr.,May,Jun.,Jul.,Aug.,Sep.,Oct.,Nov.,Dec.
0,HMI,Santro (AH2),Domestic,-,-,-,-,-,-,-,-,-,-,-,-
1,HMI,Xcent (BA 4DR),Domestic,-,-,-,-,-,-,-,-,-,-,-,-
2,HMI,Aura (AI3 4DR),Domestic,"4,634","5,524","3,774","5,085","4,707","4,907","4,514","4,892","3,900","4,096","3,850","3,812"
3,HMI,NIOS (AI3 5DR),Domestic,"8,760","9,635","9,304","6,839","6,385","6,321","5,337","7,306","5,223","6,552","4,708","5,247"
4,HMI,i20 (BI3 5DR),Domestic,"8,185","9,287","6,596","6,472","6,094","6,162","5,001","4,896","6,481","7,212","5,727","4,574"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118,Vietnam,Truck,Domestic,79,192,219,192,147,180,221,182,243,189,275,274
119,Singapore,IONIQ5 (NE),Domestic,-,-,-,-,-,33,58,65,73,49,62,114
120,Singapore,IONIQ5 (NE),Export,-,-,-,-,-,-,-,6,3,2,9,3
121,CKD,PV,Total,"3,246","3,261","3,706","3,377","4,514","4,581","4,927","4,441","4,053","4,572","4,404","3,461"
122,CKD,CV,Total,90,86,84,73,70,118,41,51,73,26,60,50

In [62]:
def rename(df):
    df.rename(columns={
    'Overseas Plants': '해외 공장',
    'Model': '차종',
    'Sales Type' : '판매 유형',
    'Jan.': '1월',
    'Feb.': '2월',
    'Mar.': '3월',
    'Apr.': '4월',
    'May': '5월',
    'Jun.': '6월',
    'Jul.': '7월',
    'Aug.': '8월',
    'Sep.': '9월',
    'Oct.': '10월',
    'Nov.': '11월',
    'Dec.': '12월'
}, inplace=True)
    
def revise(df):
    df["판매 유형"].replace("Domestic", "내수", inplace=True)
    df["판매 유형"].replace("Export", "수출", inplace=True)
    df["판매 유형"].replace("Total", "총계", inplace=True)

In [63]:
rename(df_2023)
rename(df_2024)
rename(df_2025)

revise(df_2023)
revise(df_2024)
revise(df_2025)

/var/folders/_k/9pcm610n0sb_j9n64tc8zgcw0000gn/T/ipykernel_83551/1213997898.py:21: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["판매 유형"].replace("Domestic", "내수", inplace=True)
/var/folders/_k/9pcm610n0sb_j9n64tc8zgcw0000gn/T/ipykernel_83551/1213997898.py:22: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["판매 유형"].replace("Export", "수출", inplace=True)
/var/folders/_k/9pcm610n0sb_j9n64tc8zgcw0000gn/T/ipykernel_83551/1213997898.py:23: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["판매 유형"].replace("Total", "총계", inplace=True)

In [64]:
df_2023["연도"] = 2023
df_2024["연도"] = 2024
df_2025["연도"] = 2025

In [66]:
# 0. fillna
df_2023.fillna(0, inplace=True)
df_2024.fillna(0, inplace=True)
df_2025.fillna(0, inplace=True)

# 1. '-' → 0
df_2023.replace('-', 0, inplace=True)
df_2024.replace('-', 0, inplace=True)
df_2025.replace('-', 0, inplace=True)

# 2. ',' 제거
df_2023.replace(',', '', regex=True, inplace=True)
df_2024.replace(',', '', regex=True, inplace=True)
df_2025.replace(',', '', regex=True, inplace=True)

# 3. '(숫자)' → -숫자 로 처리 (회계 표기)
df_2023.replace(r'\((\d+)\)', r'-\1', regex=True, inplace=True)
df_2024.replace(r'\((\d+)\)', r'-\1', regex=True, inplace=True)
df_2025.replace(r'\((\d+)\)', r'-\1', regex=True, inplace=True)

# 4. 공백 제거 (strip)
df_2023 = df_2023.applymap(lambda x: str(x).strip() if isinstance(x, str) else x)
df_2024 = df_2024.applymap(lambda x: str(x).strip() if isinstance(x, str) else x)
df_2025 = df_2025.applymap(lambda x: str(x).strip() if isinstance(x, str) else x)

# 5. 숫자형으로 변환 (3번째 컬럼부터)
df_2023.iloc[:, 3:] = df_2023.iloc[:, 3:].astype(int)
df_2024.iloc[:, 3:] = df_2024.iloc[:, 3:].astype(int)
df_2025.iloc[:, 3:] = df_2025.iloc[:, 3:].astype(int)

/var/folders/_k/9pcm610n0sb_j9n64tc8zgcw0000gn/T/ipykernel_83551/4226214849.py:22: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_2023 = df_2023.applymap(lambda x: str(x).strip() if isinstance(x, str) else x)
/var/folders/_k/9pcm610n0sb_j9n64tc8zgcw0000gn/T/ipykernel_83551/4226214849.py:23: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_2024 = df_2024.applymap(lambda x: str(x).strip() if isinstance(x, str) else x)
/var/folders/_k/9pcm610n0sb_j9n64tc8zgcw0000gn/T/ipykernel_83551/4226214849.py:24: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_2025 = df_2025.applymap(lambda x: str(x).strip() if isinstance(x, str) else x)

In [67]:
df_2023.head()

,해외 공장,차종,판매 유형,1월,2월,3월,4월,5월,6월,7월,8월,9월,10월,11월,12월,연도
0,HMI,Santro (AH2),내수,0,0,0,0,0,0,0,0,0,0,0,0,2023
1,HMI,Xcent (BA 4DR),내수,0,0,0,0,0,0,0,0,0,0,0,0,2023
2,HMI,Aura (AI3 4DR),내수,4634,5524,3774,5085,4707,4907,4514,4892,3900,4096,3850,3812,2023
3,HMI,NIOS (AI3 5DR),내수,8760,9635,9304,6839,6385,6321,5337,7306,5223,6552,4708,5247,2023
4,HMI,i20 (BI3 5DR),내수,8185,9287,6596,6472,6094,6162,5001,4896,6481,7212,5727,4574,2023

In [69]:
df_2024.head()

,해외 공장,차종,판매 유형,1월,2월,3월,4월,5월,6월,7월,8월,9월,10월,11월,12월,연도
0,HMI,Xcent (AI3 4DR),내수,5516,5053,4883,4526,4433,4299,4757,4304,4462,4805,4248,3852,2024
1,HMI,Grand i10 (AI3 5DR),내수,6865,4947,5034,5117,5328,4948,4922,5365,5103,6235,5667,4489,2024
2,HMI,i20 (BI3 5DR),내수,7083,5131,5155,5199,5169,5315,4937,4913,4428,5354,3925,3453,2024
3,HMI,Verna (Hci),내수,0,0,0,0,0,0,0,0,0,0,0,0,2024
4,HMI,Verna (BN7i),내수,2168,1678,1712,1571,1381,1424,1420,1194,1198,1272,1213,872,2024

In [74]:
df_2025.head()

,해외 공장,차종,판매 유형,1월,2월,3월,4월,5월,6월,7월,8월,9월,10월,11월,12월,연도
0,HMI,Xcent (AI3 4DR),내수,5388,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2025
1,HMI,Grand i10 (AI3 5DR),내수,5311,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2025
2,HMI,i20 (BI3 5DR),내수,4741,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2025
3,HMI,Verna (Hci),내수,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2025
4,HMI,Verna (BN7i),내수,1477,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2025

In [75]:
df = pd.concat([df_2023, df_2024, df_2025], ignore_index=True)

In [76]:
df.columns

Index(['해외 공장', '차종', '판매 유형', '1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월',
       '9월', '10월', '11월', '12월', '연도'],
      dtype='object')

In [77]:
df.isna().sum()

해외 공장    0
차종       0
판매 유형    0
1월       0
2월       0
3월       0
4월       0
5월       0
6월       0
7월       0
8월       0
9월       0
10월      0
11월      0
12월      0
연도       0
dtype: int64

In [78]:
df.fillna(0, inplace=True)

In [79]:
df.isna().sum()

해외 공장    0
차종       0
판매 유형    0
1월       0
2월       0
3월       0
4월       0
5월       0
6월       0
7월       0
8월       0
9월       0
10월      0
11월      0
12월      0
연도       0
dtype: int64

In [80]:
df.to_csv("../../data/processed/현대_해외공장판매실적_전처리.CSV", index=False)

# 4

In [81]:
# 데이터 불러오기
df_2023 = pd.read_csv("../../data/raw/현대/hmc-sales-by-model-december-y2023.CSV")
df_2024 = pd.read_csv("../../data/raw/현대/hmc-sales-by-model-december-y2024.CSV")
df_2025 = pd.read_csv("../../data/raw/현대/hmc-sales-by-model-december-y2025.CSV")

In [82]:
df_2023

,Model,Vehicle Type,Sales Type,Jan.,Feb.,Mar.,Apr.,May,Jun.,Jul.,Aug.,Sep.,Oct.,Nov.,Dec.
0,Avante (CN7),PC,Domestic,"5,241","5,430","5,466","5,123","5,191","4,556","3,534","4,193","3,739","4,246","4,760","4,196"
1,Avante (CN7 HEV),PC,Domestic,777,827,"1,070",120,"1,365",742,466,402,407,640,953,794
2,Avante (CN7 N),PC,Domestic,82,79,83,35,43,20,2,163,221,131,115,152
3,IONIQ (AE HEV),PC,Domestic,-,-,-,-,-,-,-,-,-,-,-,-
4,IONIQ (AE PHEV),PC,Domestic,-,-,-,-,-,-,-,-,-,-,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91,GV70 (JK),RV,Export,"2,190","3,450","2,615","2,549","3,207","1,781",889,424,726,"1,015",807,558
92,GV70 EV (JK EV),RV,Export,139,378,199,93,62,108,121,88,85,109,46,70
93,GV80 (JX),RV,Export,"1,884","1,842","2,343","2,277","2,472","2,350","2,711","2,296","2,072","3,298","1,691","2,373"
94,LCV,CV,Export,"3,049","3,696","3,695","4,618","4,013","4,252","4,203","3,245","3,804","4,094","3,737","3,664"
95,HCV,CV,Export,482,553,732,752,928,930,660,731,661,737,640,554

In [83]:
def rename(df):
    df.rename(columns={
    'Model': '차종',
    'Vehicle Type': '차량 유형',
    'Sales Type' : '판매 유형',
    'Jan.': '1월',
    'Feb.': '2월',
    'Mar.': '3월',
    'Apr.': '4월',
    'May': '5월',
    'Jun.': '6월',
    'Jul.': '7월',
    'Aug.': '8월',
    'Sep.': '9월',
    'Oct.': '10월',
    'Nov.': '11월',
    'Dec.': '12월'
}, inplace=True)
    
def revise(df):
    df["판매 유형"].replace("Domestic", "내수", inplace=True)
    df["판매 유형"].replace("Export", "수출", inplace=True)
    df["판매 유형"].replace("Total", "총계", inplace=True)

In [84]:
rename(df_2023)
rename(df_2024)
rename(df_2025)

revise(df_2023)
revise(df_2024)
revise(df_2025)

/var/folders/_k/9pcm610n0sb_j9n64tc8zgcw0000gn/T/ipykernel_83551/1637413892.py:21: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["판매 유형"].replace("Domestic", "내수", inplace=True)
/var/folders/_k/9pcm610n0sb_j9n64tc8zgcw0000gn/T/ipykernel_83551/1637413892.py:22: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["판매 유형"].replace("Export", "수출", inplace=True)
/var/folders/_k/9pcm610n0sb_j9n64tc8zgcw0000gn/T/ipykernel_83551/1637413892.py:23: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["판매 유형"].replace("Total", "총계", inplace=True)

In [85]:
df_2023["연도"] = 2023
df_2024["연도"] = 2024
df_2025["연도"] = 2025

In [87]:
# 0. fillna
df_2023.fillna(0, inplace=True)
df_2024.fillna(0, inplace=True)
df_2025.fillna(0, inplace=True)

# 1. '-' → 0
df_2023.replace('-', 0, inplace=True)
df_2024.replace('-', 0, inplace=True)
df_2025.replace('-', 0, inplace=True)

# 2. ',' 제거
df_2023.replace(',', '', regex=True, inplace=True)
df_2024.replace(',', '', regex=True, inplace=True)
df_2025.replace(',', '', regex=True, inplace=True)

# 3. '(숫자)' → -숫자 로 처리 (회계 표기)
df_2023.replace(r'\((\d+)\)', r'-\1', regex=True, inplace=True)
df_2024.replace(r'\((\d+)\)', r'-\1', regex=True, inplace=True)
df_2025.replace(r'\((\d+)\)', r'-\1', regex=True, inplace=True)

# 4. 공백 제거 (strip)
df_2023 = df_2023.applymap(lambda x: str(x).strip() if isinstance(x, str) else x)
df_2024 = df_2024.applymap(lambda x: str(x).strip() if isinstance(x, str) else x)
df_2025 = df_2025.applymap(lambda x: str(x).strip() if isinstance(x, str) else x)

# 5. 숫자형으로 변환 (3번째 컬럼부터)
df_2023.iloc[:, 3:] = df_2023.iloc[:, 3:].astype(int)
df_2024.iloc[:, 3:] = df_2024.iloc[:, 3:].astype(int)
df_2025.iloc[:, 3:] = df_2025.iloc[:, 3:].astype(int)

/var/folders/_k/9pcm610n0sb_j9n64tc8zgcw0000gn/T/ipykernel_83551/4226214849.py:22: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_2023 = df_2023.applymap(lambda x: str(x).strip() if isinstance(x, str) else x)
/var/folders/_k/9pcm610n0sb_j9n64tc8zgcw0000gn/T/ipykernel_83551/4226214849.py:23: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_2024 = df_2024.applymap(lambda x: str(x).strip() if isinstance(x, str) else x)
/var/folders/_k/9pcm610n0sb_j9n64tc8zgcw0000gn/T/ipykernel_83551/4226214849.py:24: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_2025 = df_2025.applymap(lambda x: str(x).strip() if isinstance(x, str) else x)

In [89]:
df_2023.head()

,차종,차량 유형,판매 유형,1월,2월,3월,4월,5월,6월,7월,8월,9월,10월,11월,12월,연도
0,Avante (CN7),PC,내수,5241,5430,5466,5123,5191,4556,3534,4193,3739,4246,4760,4196,2023
1,Avante (CN7 HEV),PC,내수,777,827,1070,120,1365,742,466,402,407,640,953,794,2023
2,Avante (CN7 N),PC,내수,82,79,83,35,43,20,2,163,221,131,115,152,2023
3,IONIQ (AE HEV),PC,내수,0,0,0,0,0,0,0,0,0,0,0,0,2023
4,IONIQ (AE PHEV),PC,내수,0,0,0,0,0,0,0,0,0,0,0,0,2023

In [91]:
df_2024.head()

,Overseas Plants,차종,판매 유형,1월,2월,3월,4월,5월,6월,7월,8월,9월,10월,11월,12월,연도
0,HMI,Xcent (AI3 4DR),내수,5516,5053,4883,4526,4433,4299,4757,4304,4462,4805,4248,3852,2024
1,HMI,Grand i10 (AI3 5DR),내수,6865,4947,5034,5117,5328,4948,4922,5365,5103,6235,5667,4489,2024
2,HMI,i20 (BI3 5DR),내수,7083,5131,5155,5199,5169,5315,4937,4913,4428,5354,3925,3453,2024
3,HMI,Verna (Hci),내수,0,0,0,0,0,0,0,0,0,0,0,0,2024
4,HMI,Verna (BN7i),내수,2168,1678,1712,1571,1381,1424,1420,1194,1198,1272,1213,872,2024

In [92]:
df_2025.head()

,차종,차량 유형,판매 유형,1월,2월,3월,4월,5월,6월,7월,8월,9월,10월,11월,12월,연도
0,Avante (CN7),PC,내수,4086,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2025
1,Avante (CN7 HEV),PC,내수,1233,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2025
2,Avante (CN7 N),PC,내수,144,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2025
3,IONIQ (AE HEV),PC,내수,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2025
4,IONIQ (AE PHEV),PC,내수,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2025

In [93]:
df = pd.concat([df_2023, df_2024, df_2025], ignore_index=True)

In [94]:
df.columns

Index(['차종', '차량 유형', '판매 유형', '1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월',
       '9월', '10월', '11월', '12월', '연도', 'Overseas Plants'],
      dtype='object')

In [95]:
df.isna().sum()

차종                   0
차량 유형              134
판매 유형                0
1월                   0
2월                   0
3월                   0
4월                   0
5월                   0
6월                   0
7월                   0
8월                   0
9월                   0
10월                  0
11월                  0
12월                  0
연도                   0
Overseas Plants    202
dtype: int64

In [96]:
df.fillna(0, inplace=True)

In [97]:
df.isna().sum()

차종                 0
차량 유형              0
판매 유형              0
1월                 0
2월                 0
3월                 0
4월                 0
5월                 0
6월                 0
7월                 0
8월                 0
9월                 0
10월                0
11월                0
12월                0
연도                 0
Overseas Plants    0
dtype: int64

In [98]:
df.to_csv("../../data/processed/현대_판매실적_전처리.CSV", index=False)

# 5

In [99]:
# 데이터 불러오기
df_2023 = pd.read_csv("../../data/raw/현대/hmc-us-retail-sales-december-y2023.CSV")
df_2024 = pd.read_csv("../../data/raw/현대/hmc-us-retail-sales-december-y2024.CSV")
df_2025 = pd.read_csv("../../data/raw/현대/hmc-us-retail-sales-december-y2025.CSV")

In [100]:
df_2023

,Models,Vehicle Type,Jan.,Feb.,Mar.,Apr.,May,Jun.,Jul.,Aug.,Sep.,Oct.,Nov.,Dec.
0,Accent,PC,16,12,2,-,-,-,1,-,-,-,-,-
1,Veloster,PC,3,1,1,1,-,-,-,-,-,-,-,-
2,Elantra,PC,"8,655","10,371","13,447","13,236","15,605","13,424","11,898","11,262","9,405","9,456","8,813","8,577"
3,IONIQ,PC,-,-,-,-,-,-,-,-,-,-,-,-
4,Sonata,PC,"4,873","4,307","5,310","4,689","4,321","3,834","3,209","3,397","3,401","2,460","2,321","3,222"
5,G70,PC,804,719,"1,057","1,139","1,156","1,353","1,310","1,394","1,751",982,684,897
6,G80 (RG3),PC,226,172,296,383,370,768,400,186,300,369,322,378
7,G80 (RG3 EV),PC,33,32,315,94,120,119,227,107,137,103,16,26
8,G90,PC,105,111,140,120,113,114,108,119,92,68,125,130
9,Venue,RV,"2,441","2,537","3,625","2,648","2,413","2,695","2,581","2,197","1,732","1,757","1,716","1,667"
10,Kona,RV,"5,826","6,080","7,314","6,831","5,613","6,261","6,123","5,777","6,693","7,927","6,991","7,680"
11,Tucson,RV,"12,028","14,031","20,111","18,676","18,038","17,707","17,534","16,242","18,813","15,638","21,382","19,424"
12,Santa Cruz(Tucson O/B),RV,"2,614","2,868","3,825","3,590","3,526","3,627","2,903","3,079","3,051","2,555","2,396","2,641"
13,Nexo,RV,16,28,21,16,16,8,34,18,16,23,20,25
14,IONIQ 5,RV,"1,548","2,074","2,114","2,323","2,446","3,136","4,135","3,572","3,958","2,979","2,372","3,261"
15,IONIQ 6,RV,-,-,222,890,971,"1,162","1,745","1,663","1,665","1,239","1,386","2,056"
16,Santa Fe,RV,"7,297","7,993","13,236","10,953","10,039","11,624","10,612","11,732","12,676","9,700","13,497","12,215"
17,Palisade,RV,"6,684","6,742","6,176","6,959","7,013","5,873","5,752","6,107","7,551","7,071","9,185","14,396"
18,GV60,RV,129,171,212,267,276,265,261,258,379,353,434,395
19,GV70,RV,"1,401","1,762","2,100","2,219","2,047","1,745","2,416","2,293","1,828","1,885","2,028","2,590"
20,GV70 EV,RV,-,-,45,161,187,133,109,158,166,174,294,247
21,GV80,RV,"1,207","1,241","1,491","1,474","1,336","1,506","1,499","1,938","1,991","1,790","2,084","2,140"
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [108]:
def rename(df):
    df.rename(columns={
    'Models': '차종',
    'Vehicle Type': '차량 유형',
    'Jan.': '1월',
    'Feb.': '2월',
    'Mar.': '3월',
    'Apr.': '4월',
    'May': '5월',
    'Jun.': '6월',
    'Jul.': '7월',
    'Aug.': '8월',
    'Sep.': '9월',
    'Oct.': '10월',
    'Nov.': '11월',
    'Dec.': '12월'
}, inplace=True)

In [109]:
rename(df_2023)
rename(df_2024)
rename(df_2025)

In [110]:
df_2023["연도"] = 2023
df_2024["연도"] = 2024
df_2025["연도"] = 2025

In [111]:
# 0. fillna
df_2023.fillna(0, inplace=True)
df_2024.fillna(0, inplace=True)
df_2025.fillna(0, inplace=True)

# 1. '-' → 0
df_2023.replace('-', 0, inplace=True)
df_2024.replace('-', 0, inplace=True)
df_2025.replace('-', 0, inplace=True)

# 2. ',' 제거
df_2023.replace(',', '', regex=True, inplace=True)
df_2024.replace(',', '', regex=True, inplace=True)
df_2025.replace(',', '', regex=True, inplace=True)

# 3. '(숫자)' → -숫자 로 처리 (회계 표기)
df_2023.replace(r'\((\d+)\)', r'-\1', regex=True, inplace=True)
df_2024.replace(r'\((\d+)\)', r'-\1', regex=True, inplace=True)
df_2025.replace(r'\((\d+)\)', r'-\1', regex=True, inplace=True)

# 4. 공백 제거 (strip)
df_2023 = df_2023.applymap(lambda x: str(x).strip() if isinstance(x, str) else x)
df_2024 = df_2024.applymap(lambda x: str(x).strip() if isinstance(x, str) else x)
df_2025 = df_2025.applymap(lambda x: str(x).strip() if isinstance(x, str) else x)

# 5. 숫자형으로 변환 (3번째 컬럼부터)
df_2023.iloc[:, 3:] = df_2023.iloc[:, 3:].astype(int)
df_2024.iloc[:, 3:] = df_2024.iloc[:, 3:].astype(int)
df_2025.iloc[:, 3:] = df_2025.iloc[:, 3:].astype(int)

/var/folders/_k/9pcm610n0sb_j9n64tc8zgcw0000gn/T/ipykernel_83551/4226214849.py:12: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_2023.replace(',', '', regex=True, inplace=True)
/var/folders/_k/9pcm610n0sb_j9n64tc8zgcw0000gn/T/ipykernel_83551/4226214849.py:13: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_2024.replace(',', '', regex=True, inplace=True)
/var/folders/_k/9pcm610n0sb_j9n64tc8zgcw0000gn/T/ipykernel_83551/4226214849.py:22: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_2023 = df_2023.applymap(lambda x: str(x).strip() if isinstance(x, str) else x)
/var/folders/_k/9pcm610n0sb_j9n64tc8zgcw0000gn/T/ipykernel_83551/4226214849.py:23: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_2024 = df_2024.applymap(lambda x: str(x).strip() if isinstance(x, str) else x)
/var/folders/_k/9pcm610n0sb_j9n64tc8zgcw0000gn/T/ipykernel_83551/4226214849.py:24: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_2025 = df_2025.applymap(lambda x: str(x).strip() if isinstance(x, str) else x)

In [113]:
df_2023.head()

,차종,차량 유형,1월,2월,3월,4월,5월,6월,7월,8월,9월,10월,11월,12월,연도
0,Accent,PC,16,12,2,0,0,0,1,0,0,0,0,0,2023
1,Veloster,PC,3,1,1,1,0,0,0,0,0,0,0,0,2023
2,Elantra,PC,8655,10371,13447,13236,15605,13424,11898,11262,9405,9456,8813,8577,2023
3,IONIQ,PC,0,0,0,0,0,0,0,0,0,0,0,0,2023
4,Sonata,PC,4873,4307,5310,4689,4321,3834,3209,3397,3401,2460,2321,3222,2023

In [115]:
df_2024.head()

,차종,차량 유형,1월,2월,3월,4월,5월,6월,7월,8월,9월,10월,11월,12월,연도
0,Accent,PC,0,0,0,0,0,0,0,0,0,0,0,0,2024
1,Veloster,PC,0,0,0,0,0,0,0,0,0,0,0,0,2024
2,Elantra,PC,6900,8432,11528,10102,13311,12016,13764,14379,11186,12151,11344,11585,2024
3,IONIQ,PC,0,0,0,0,0,0,0,0,0,0,0,0,2024
4,Sonata,PC,3121,4379,5664,5348,6700,5935,5755,5953,5575,6300,6971,7642,2024

In [116]:
df_2025.head()

,차종,차량 유형,1월,2월,3월,4월,5월,6월,7월,8월,9월,10월,11월,12월,연도
0,Accent,PC,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2025
1,Veloster,PC,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2025
2,Elantra,PC,8866,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2025
3,IONIQ,PC,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2025
4,Sonata,PC,4757,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2025

In [117]:
df = pd.concat([df_2023, df_2024, df_2025], ignore_index=True)

In [118]:
df.columns

Index(['차종', '차량 유형', '1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월',
       '10월', '11월', '12월', '연도'],
      dtype='object')

In [119]:
df.isna().sum()

차종       0
차량 유형    0
1월       0
2월       0
3월       0
4월       0
5월       0
6월       0
7월       0
8월       0
9월       0
10월      0
11월      0
12월      0
연도       0
dtype: int64

In [120]:
df.fillna(0, inplace=True)

In [121]:
df.isna().sum()

차종       0
차량 유형    0
1월       0
2월       0
3월       0
4월       0
5월       0
6월       0
7월       0
8월       0
9월       0
10월      0
11월      0
12월      0
연도       0
dtype: int64

In [122]:
df.to_csv("../../data/processed/현대_미국판매실적_전처리.CSV", index=False)