In [103]:
import pandas as pd, numpy as np, matplotlib.pyplot as plt, seaborn as sb

In [104]:
df = pd.read_csv("../../extra_data/raw/소비 심리 관련/경제심리지수.csv")
df

,통계표,코드(계정항목),계정항목,단위,변환,2021/01,2021/02,2021/03,2021/04,2021/05,...,2024/05,2024/06,2024/07,2024/08,2024/09,2024/10,2024/11,2024/12,2025/01,2025/02
0,6.3. 경제심리지수,E1000,경제심리지수(원계열),NaN,원자료,92.9,96.8,101.7,106,105.9,...,94.1,95.0,96.3,94.5,94.0,92.8,93.0,83.3,86.7,90.2
1,6.3. 경제심리지수,E2000,경제심리지수(순환변동치),NaN,원자료,93.9,96.9,99.6,102,103.9,...,93.6,93.7,93.6,93.3,92.8,92.1,91.2,90.2,89.3,88.4

In [105]:
df.isna().sum()

통계표         0
코드(계정항목)    0
계정항목        0
단위          2
변환          0
2021/01     0
2021/02     0
2021/03     0
2021/04     0
2021/05     0
2021/06     0
2021/07     0
2021/08     0
2021/09     0
2021/10     0
2021/11     0
2021/12     0
2022/01     0
2022/02     0
2022/03     0
2022/04     0
2022/05     0
2022/06     0
2022/07     0
2022/08     0
2022/09     0
2022/10     0
2022/11     0
2022/12     0
2023/01     0
2023/02     0
2023/03     0
2023/04     0
2023/05     0
2023/06     0
2023/07     0
2023/08     0
2023/09     0
2023/10     0
2023/11     0
2023/12     0
2024/01     0
2024/02     0
2024/03     0
2024/04     0
2024/05     0
2024/06     0
2024/07     0
2024/08     0
2024/09     0
2024/10     0
2024/11     0
2024/12     0
2025/01     0
2025/02     0
dtype: int64

In [106]:
df["계정항목"] = df["계정항목"].str.lstrip()

In [107]:
#df["단위"] = df["단위"].str.rstrip()

In [108]:
df

,통계표,코드(계정항목),계정항목,단위,변환,2021/01,2021/02,2021/03,2021/04,2021/05,...,2024/05,2024/06,2024/07,2024/08,2024/09,2024/10,2024/11,2024/12,2025/01,2025/02
0,6.3. 경제심리지수,E1000,경제심리지수(원계열),NaN,원자료,92.9,96.8,101.7,106,105.9,...,94.1,95.0,96.3,94.5,94.0,92.8,93.0,83.3,86.7,90.2
1,6.3. 경제심리지수,E2000,경제심리지수(순환변동치),NaN,원자료,93.9,96.9,99.6,102,103.9,...,93.6,93.7,93.6,93.3,92.8,92.1,91.2,90.2,89.3,88.4

In [109]:
df = pd.concat([df.iloc[:, :5], df.iloc[:, 29:]], axis=1)

In [110]:
df

,통계표,코드(계정항목),계정항목,단위,변환,2023/01,2023/02,2023/03,2023/04,2023/05,...,2024/05,2024/06,2024/07,2024/08,2024/09,2024/10,2024/11,2024/12,2025/01,2025/02
0,6.3. 경제심리지수,E1000,경제심리지수(원계열),NaN,원자료,90.7,91.8,91.9,94.5,94.9,...,94.1,95.0,96.3,94.5,94.0,92.8,93.0,83.3,86.7,90.2
1,6.3. 경제심리지수,E2000,경제심리지수(순환변동치),NaN,원자료,93.4,93.0,92.8,92.9,93.1,...,93.6,93.7,93.6,93.3,92.8,92.1,91.2,90.2,89.3,88.4

In [112]:
df.to_csv("../../extra_data/processed/소비 심리 관련/경제심리지수.csv", index=False)