In [1]:
import pandas as pd, numpy as np, matplotlib.pyplot as plt, seaborn as sb

In [2]:
df = pd.read_csv("../../extra_data/raw/소비 심리 관련/뉴스심리지수(실험적 통계).csv")
df

,통계표,코드(계정항목),계정항목,단위,변환,2021/01,2021/02,2021/03,2021/04,2021/05,...,2024/06,2024/07,2024/08,2024/09,2024/10,2024/11,2024/12,2025/01,2025/02,2025/03
0,6.4. 뉴스심리지수(실험적 통계),A001,뉴스심리지수,NaN,원자료,114.43,107.32,114.5,120.04,116.02,...,109.34,106.58,99.3,98.67,100.46,100.47,85.75,99.32,99.85,87.77

In [3]:
df.isna().sum()

통계표         0
코드(계정항목)    0
계정항목        0
단위          1
변환          0
2021/01     0
2021/02     0
2021/03     0
2021/04     0
2021/05     0
2021/06     0
2021/07     0
2021/08     0
2021/09     0
2021/10     0
2021/11     0
2021/12     0
2022/01     0
2022/02     0
2022/03     0
2022/04     0
2022/05     0
2022/06     0
2022/07     0
2022/08     0
2022/09     0
2022/10     0
2022/11     0
2022/12     0
2023/01     0
2023/02     0
2023/03     0
2023/04     0
2023/05     0
2023/06     0
2023/07     0
2023/08     0
2023/09     0
2023/10     0
2023/11     0
2023/12     0
2024/01     0
2024/02     0
2024/03     0
2024/04     0
2024/05     0
2024/06     0
2024/07     0
2024/08     0
2024/09     0
2024/10     0
2024/11     0
2024/12     0
2025/01     0
2025/02     0
2025/03     0
dtype: int64

In [4]:
df["계정항목"] = df["계정항목"].str.lstrip()

In [5]:
#df["단위"] = df["단위"].str.rstrip()

In [6]:
df

,통계표,코드(계정항목),계정항목,단위,변환,2021/01,2021/02,2021/03,2021/04,2021/05,...,2024/06,2024/07,2024/08,2024/09,2024/10,2024/11,2024/12,2025/01,2025/02,2025/03
0,6.4. 뉴스심리지수(실험적 통계),A001,뉴스심리지수,NaN,원자료,114.43,107.32,114.5,120.04,116.02,...,109.34,106.58,99.3,98.67,100.46,100.47,85.75,99.32,99.85,87.77

In [7]:
df = pd.concat([df.iloc[:, :5], df.iloc[:, 29:]], axis=1)

In [8]:
df

,통계표,코드(계정항목),계정항목,단위,변환,2023/01,2023/02,2023/03,2023/04,2023/05,...,2024/06,2024/07,2024/08,2024/09,2024/10,2024/11,2024/12,2025/01,2025/02,2025/03
0,6.4. 뉴스심리지수(실험적 통계),A001,뉴스심리지수,NaN,원자료,93.5,97.31,93.89,94.78,96.33,...,109.34,106.58,99.3,98.67,100.46,100.47,85.75,99.32,99.85,87.77

In [9]:
df.to_csv("../../extra_data/processed/소비 심리 관련/뉴스심리지수(실험적 통계).csv", index=False)