In [15]:
# ğŸ“Œ í•„ìš”í•œ ë¼ì´ë¸ŒëŸ¬ë¦¬ ë¶ˆëŸ¬ì˜¤ê¸°
import pandas as pd

# ğŸ“ íŒŒì¼ ê²½ë¡œ ì§€ì •
hyundai_path = "../processed/í˜„ëŒ€_í•´ì™¸ê³µì¥íŒë§¤ì‹¤ì _ì „ì²˜ë¦¬.CSV"
kia_path = "../processed/ê¸°ì•„_í•´ì™¸ê³µì¥íŒë§¤ì‹¤ì _ì „ì²˜ë¦¬.CSV"

# ğŸ“¥ CSV íŒŒì¼ ë¶ˆëŸ¬ì˜¤ê¸°
df_hyundai = pd.read_csv(hyundai_path)
df_kia = pd.read_csv(kia_path)

In [16]:
# ğŸŒ ê³µì¥ ì½”ë“œ â í•œê¸€ êµ­ê°€ëª… ë§¤í•‘ ë”•ì…”ë„ˆë¦¬ ì •ì˜
plant_to_country = {
    "HMI": "ì¸ë„",
    "HAOS": "í„°í‚¤",
    "BHMC": "ì¤‘êµ­",
    "HMMA": "ë¯¸êµ­",
    "HMMC": "ì²´ì½”",
    "HMMR": "ëŸ¬ì‹œì•„",
    "HMB": "ë¸Œë¼ì§ˆ",
    "HMMI": "ì¸ë„ë„¤ì‹œì•„",
    "HTBC": "íƒœêµ­",
    "HMGMA": "ë§ë ˆì´ì‹œì•„",
    "KMX": "ë©•ì‹œì½”",
    "Others": "ê¸°íƒ€",
    "Russia": "ëŸ¬ì‹œì•„",
    "Vietnam": "ë² íŠ¸ë‚¨",
    "Singapore": "ì‹±ê°€í¬ë¥´",
    "CKD": "ê¸°íƒ€"
}

# âœ… 'ê³µì¥ êµ­ê°€' ì»¬ëŸ¼ ìƒì„± (í•´ì™¸ ê³µì¥ëª… â†’ êµ­ê°€ëª…)
df_hyundai["ê³µì¥ êµ­ê°€"] = df_hyundai["í•´ì™¸ ê³µì¥"].map(plant_to_country)


# ğŸ” ê²°ê³¼ ë¯¸ë¦¬ë³´ê¸°
print("âœ… í˜„ëŒ€ í•´ì™¸ê³µì¥ êµ­ê°€ ë§¤í•‘:")
display(df_hyundai[["í•´ì™¸ ê³µì¥", "ê³µì¥ êµ­ê°€"]].drop_duplicates())

âœ… í˜„ëŒ€ í•´ì™¸ê³µì¥ êµ­ê°€ ë§¤í•‘:

         í•´ì™¸ ê³µì¥  ê³µì¥ êµ­ê°€
0          HMI     ì¸ë„
27        HAOS     í„°í‚¤
35        BHMC     ì¤‘êµ­
52        HMMA     ë¯¸êµ­
67        HMMC     ì²´ì½”
75        HMMR    ëŸ¬ì‹œì•„
81         HMB    ë¸Œë¼ì§ˆ
87        HMMI  ì¸ë„ë„¤ì‹œì•„
95        HTBC     íƒœêµ­
97      Others     ê¸°íƒ€
98      Russia    ëŸ¬ì‹œì•„
99     Vietnam    ë² íŠ¸ë‚¨
119  Singapore   ì‹±ê°€í¬ë¥´
121        CKD     ê¸°íƒ€
185      HMGMA  ë§ë ˆì´ì‹œì•„
223        KMX    ë©•ì‹œì½”

In [17]:
plant_name_to_korean = {
    "US Plant": "ë¯¸êµ­",
    "China Plant": "ì¤‘êµ­",
    "China Plants": "ì¤‘êµ­",
    "Slovakia Plant": "ìŠ¬ë¡œë°”í‚¤ì•„",
    "Mexico Plant": "ë©•ì‹œì½”",
    "India Plant": "ì¸ë„"
}

# 2. ê³µì¥ëª…(êµ­ê°€) ì»¬ëŸ¼ â†’ ê³µì¥ êµ­ê°€ ì»¬ëŸ¼ìœ¼ë¡œ ë§¤í•‘
df_kia["ê³µì¥ êµ­ê°€"] = df_kia["ê³µì¥ëª…(êµ­ê°€)"].map(plant_name_to_korean)

# 3. ê²°ê³¼ í™•ì¸
display(df_kia[["ê³µì¥ëª…(êµ­ê°€)", "ê³µì¥ êµ­ê°€"]].drop_duplicates())

           ê³µì¥ëª…(êµ­ê°€)  ê³µì¥ êµ­ê°€
0         US Plant     ë¯¸êµ­
4      China Plant     ì¤‘êµ­
18  Slovakia Plant  ìŠ¬ë¡œë°”í‚¤ì•„
21    Mexico Plant    ë©•ì‹œì½”
24     India Plant     ì¸ë„
33    China Plants     ì¤‘êµ­

In [22]:
import pandas as pd
import os

# 1. ì €ì¥ ê²½ë¡œ ìƒì„±
save_dir = "ì„¸ì¼ì¦ˆíŒŒì¼/"
os.makedirs(save_dir, exist_ok=True)

# 2. í˜„ëŒ€ íŒŒì¼ ë¡œë“œ ë° êµ­ê°€ëª… ë§¤í•‘
df_hyundai = pd.read_csv("../processed/í˜„ëŒ€_í•´ì™¸ê³µì¥íŒë§¤ì‹¤ì _ì „ì²˜ë¦¬.CSV")
df_hyundai["ê³µì¥ êµ­ê°€"] = df_hyundai["í•´ì™¸ ê³µì¥"].map({
    "HMI": "ì¸ë„", "HAOS": "í„°í‚¤", "BHMC": "ì¤‘êµ­", "HMMA": "ë¯¸êµ­", "HMMC": "ì²´ì½”",
    "HMMR": "ëŸ¬ì‹œì•„", "HMB": "ë¸Œë¼ì§ˆ", "HMMI": "ì¸ë„ë„¤ì‹œì•„", "HTBC": "íƒœêµ­",
    "HMGMA": "ë§ë ˆì´ì‹œì•„", "KMX": "ë©•ì‹œì½”", "Others": "ê¸°íƒ€", "Russia": "ëŸ¬ì‹œì•„",
    "Vietnam": "ë² íŠ¸ë‚¨", "Singapore": "ì‹±ê°€í¬ë¥´", "CKD": "ê¸°íƒ€"
})

# 3. ê¸°ì•„ íŒŒì¼ ë¡œë“œ ë° êµ­ê°€ëª… ë§¤í•‘
df_kia = pd.read_csv("../processed/ê¸°ì•„_í•´ì™¸ê³µì¥íŒë§¤ì‹¤ì _ì „ì²˜ë¦¬.CSV")
df_kia["ê³µì¥ êµ­ê°€"] = df_kia["ê³µì¥ëª…(êµ­ê°€)"].map({
    "US Plant": "ë¯¸êµ­", "China Plant": "ì¤‘êµ­", "China Plants": "ì¤‘êµ­",
    "Slovakia Plant": "ìŠ¬ë¡œë°”í‚¤ì•„", "Mexico Plant": "ë©•ì‹œì½”", "India Plant": "ì¸ë„"
})

# 4. ë³‘í•©
df_all = pd.concat([df_hyundai, df_kia], ignore_index=True)

# 5. ì €ì¥
output_path = os.path.join(save_dir, "00_í•´ì™¸ê³µì¥íŒë§¤ì‹¤ì .csv")
df_all.to_csv(output_path, index=False, encoding="utf-8-sig")

print("âœ… ì €ì¥ ì™„ë£Œ:", output_path)

âœ… ì €ì¥ ì™„ë£Œ: ì„¸ì¼ì¦ˆíŒŒì¼/00_í•´ì™¸ê³µì¥íŒë§¤ì‹¤ì .csv

In [23]:
import pandas as pd
import os

# íŒŒì¼ ê²½ë¡œ (í˜„ì¬ ë…¸íŠ¸ë¶ì€ data/ì„¸ì¼ì¦ˆíŒŒì¼/aa.ipynb ì´ë¯€ë¡œ ìƒìœ„ í´ë”ë¡œ ì´ë™)
file_model = "../processed/í˜„ëŒ€_ì°¨ì¢…ë³„íŒë§¤ì‹¤ì _ì „ì²˜ë¦¬.CSV"
file_sales = "../processed/í˜„ëŒ€_íŒë§¤ì‹¤ì _ì „ì²˜ë¦¬.CSV"

# CSV ì½ê¸°
df_model = pd.read_csv(file_model)
df_sales = pd.read_csv(file_sales)

# ì°¨ëŸ‰ ìœ í˜• ì˜ì–´ â†’ í•œê¸€ ë§¤í•‘ ë”•ì…”ë„ˆë¦¬
type_mapping = {
    "Passenger Car": "ìŠ¹ìš©ì°¨",
    "Commercial Vehicle": "ìƒìš©ì°¨",
    "Recreational Vehicle": "RV",
    "Special Vehicle": "íŠ¹ìˆ˜ì°¨",
    "Total": "ì „ì²´"
}

# ì°¨ëŸ‰ ìœ í˜• ì»¬ëŸ¼ ê°’ ë³€í™˜ ë° ì»¬ëŸ¼ëª… í†µì¼
def standardize(df):
    df = df.copy()
    df["ì°¨ëŸ‰ êµ¬ë¶„"] = df["ì°¨ëŸ‰ ìœ í˜•"].map(type_mapping)
    df.drop(columns=["ì°¨ëŸ‰ ìœ í˜•"], inplace=True)
    # ì›” ì»¬ëŸ¼ ìˆ«ìí˜• ë³€í™˜
    month_cols = [f"{i}ì›”" for i in range(1, 13)]
    df[month_cols] = df[month_cols].apply(pd.to_numeric, errors='coerce')
    return df

df_model_cleaned = standardize(df_model)
df_sales_cleaned = standardize(df_sales)

# ì €ì¥ ê²½ë¡œ ì§€ì •
save_model = "../processed/í˜„ëŒ€_ì°¨ì¢…ë³„íŒë§¤ì‹¤ì _ì „ì²˜ë¦¬_v2.CSV"
save_sales = "../processed/í˜„ëŒ€_íŒë§¤ì‹¤ì _ì „ì²˜ë¦¬_v2.CSV"

# ì €ì¥
df_model_cleaned.to_csv(save_model, index=False, encoding="utf-8-sig")
df_sales_cleaned.to_csv(save_sales, index=False, encoding="utf-8-sig")

print("âœ… ì „ì²˜ë¦¬ ì™„ë£Œ ë° ì €ì¥ ì™„ë£Œ:")
print("-", save_model)
print("-", save_sales)

# ê²°ê³¼ ë¯¸ë¦¬ë³´ê¸° (ì˜µì…˜)
df_model_cleaned.head()

âœ… ì „ì²˜ë¦¬ ì™„ë£Œ ë° ì €ì¥ ì™„ë£Œ:
- ../processed/í˜„ëŒ€_ì°¨ì¢…ë³„íŒë§¤ì‹¤ì _ì „ì²˜ë¦¬_v2.CSV
- ../processed/í˜„ëŒ€_íŒë§¤ì‹¤ì _ì „ì²˜ë¦¬_v2.CSV

,ì°¨ì¢…,1ì›”,2ì›”,3ì›”,4ì›”,5ì›”,6ì›”,7ì›”,8ì›”,9ì›”,10ì›”,11ì›”,12ì›”,ì—°ë„,ì°¨ëŸ‰ êµ¬ë¶„
0,i10 (AC3),4791,3820.0,5365.0,3514.0,4714.0,5812.0,4593.0,2961.0,4762.0,3965.0,4564.0,3953.0,2023,NaN
1,i20 (GB),0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2023,NaN
2,i20 (BC3),3100,3221.0,5174.0,4437.0,4722.0,4607.0,4908.0,3119.0,4747.0,3872.0,3459.0,3041.0,2023,NaN
3,i20 N (BC3 N),202,194.0,600.0,360.0,444.0,342.0,298.0,379.0,663.0,592.0,597.0,634.0,2023,NaN
4,Elantra,117,131.0,108.0,181.0,147.0,237.0,198.0,90.0,40.0,31.0,80.0,30.0,2023,NaN

In [ ]:
import pandas as pd

# 1. íŒŒì¼ ê²½ë¡œ
model_path = "../processed/ê¸°ì•„_ì°¨ì¢…ë³„íŒë§¤ì‹¤ì _ì „ì²˜ë¦¬.CSV"
sales_path = "../processed/ê¸°ì•„_í•´ì™¸íŒë§¤_ì „ì²˜ë¦¬.CSV"

# 2. CSV ë¶ˆëŸ¬ì˜¤ê¸°
df_model = pd.read_csv(model_path)
df_sales = pd.read_csv(sales_path)

# 3. ì°¨ëŸ‰ ìœ í˜• ì˜ì–´ â†’ í•œê¸€ ë§¤í•‘
type_map = {
    "Passenger Car": "ìŠ¹ìš©ì°¨",
    "Commercial Vehicle": "ìƒìš©ì°¨",
    "Recreational Vehicle": "RV",
    "Special Vehicle": "íŠ¹ìˆ˜ì°¨",
    "Total": "ì „ì²´"
}

# 4. ì „ì²˜ë¦¬ í•¨ìˆ˜ ì •ì˜
def preprocess(df):
    df = df.copy()
    if "ì°¨ëŸ‰ ìœ í˜•" in df.columns:
        df["ì°¨ëŸ‰ êµ¬ë¶„"] = df["ì°¨ëŸ‰ ìœ í˜•"].map(type_map)
        df = df.drop(columns=["ì°¨ëŸ‰ ìœ í˜•"])
    # ì›”ë³„ ì»¬ëŸ¼ ìˆ«ìí˜• ë³€í™˜
    month_cols = [f"{i}ì›”" for i in range(1, 13)]
    df[month_cols] = df[month_cols].apply(pd.to_numeric, errors="coerce")
    return df

# 5. ì „ì²˜ë¦¬ ì‹¤í–‰
df_model_clean = preprocess(df_model)
df_sales_clean = preprocess(df_sales)

# 6. ì €ì¥
df_model_clean.to_csv("ê¸°ì•„_ì°¨ì¢…ë³„íŒë§¤ì‹¤ì _ì „ì²˜ë¦¬_v2.CSV", index=False, encoding="utf-8-sig")
df_sales_clean.to_csv("ê¸°ì•„_íŒë§¤ì‹¤ì _ì „ì²˜ë¦¬_v2.CSV", index=False, encoding="utf-8-sig")

print("âœ… í˜„ëŒ€ ìŠ¤íƒ€ì¼ë¡œ ê¸°ì•„ ì „ì²˜ë¦¬ ë° ì €ì¥ ì™„ë£Œ")

KeyError: "None of [Index(['1ì›”', '2ì›”', '3ì›”', '4ì›”', '5ì›”', '6ì›”', '7ì›”', '8ì›”', '9ì›”', '10ì›”', '11ì›”',\n       '12ì›”'],\n      dtype='object')] are in the [columns]"