In [15]:
# 📌 필요한 라이브러리 불러오기
import pandas as pd

# 📁 파일 경로 지정
hyundai_path = "../processed/현대_해외공장판매실적_전처리.CSV"
kia_path = "../processed/기아_해외공장판매실적_전처리.CSV"

# 📥 CSV 파일 불러오기
df_hyundai = pd.read_csv(hyundai_path)
df_kia = pd.read_csv(kia_path)

In [16]:
# 🌏 공장 코드 ➝ 한글 국가명 매핑 딕셔너리 정의
plant_to_country = {
    "HMI": "인도",
    "HAOS": "터키",
    "BHMC": "중국",
    "HMMA": "미국",
    "HMMC": "체코",
    "HMMR": "러시아",
    "HMB": "브라질",
    "HMMI": "인도네시아",
    "HTBC": "태국",
    "HMGMA": "말레이시아",
    "KMX": "멕시코",
    "Others": "기타",
    "Russia": "러시아",
    "Vietnam": "베트남",
    "Singapore": "싱가포르",
    "CKD": "기타"
}

# ✅ '공장 국가' 컬럼 생성 (해외 공장명 → 국가명)
df_hyundai["공장 국가"] = df_hyundai["해외 공장"].map(plant_to_country)


# 🔍 결과 미리보기
print("✅ 현대 해외공장 국가 매핑:")
display(df_hyundai[["해외 공장", "공장 국가"]].drop_duplicates())

✅ 현대 해외공장 국가 매핑:

         해외 공장  공장 국가
0          HMI     인도
27        HAOS     터키
35        BHMC     중국
52        HMMA     미국
67        HMMC     체코
75        HMMR    러시아
81         HMB    브라질
87        HMMI  인도네시아
95        HTBC     태국
97      Others     기타
98      Russia    러시아
99     Vietnam    베트남
119  Singapore   싱가포르
121        CKD     기타
185      HMGMA  말레이시아
223        KMX    멕시코

In [17]:
plant_name_to_korean = {
    "US Plant": "미국",
    "China Plant": "중국",
    "China Plants": "중국",
    "Slovakia Plant": "슬로바키아",
    "Mexico Plant": "멕시코",
    "India Plant": "인도"
}

# 2. 공장명(국가) 컬럼 → 공장 국가 컬럼으로 매핑
df_kia["공장 국가"] = df_kia["공장명(국가)"].map(plant_name_to_korean)

# 3. 결과 확인
display(df_kia[["공장명(국가)", "공장 국가"]].drop_duplicates())

           공장명(국가)  공장 국가
0         US Plant     미국
4      China Plant     중국
18  Slovakia Plant  슬로바키아
21    Mexico Plant    멕시코
24     India Plant     인도
33    China Plants     중국

In [22]:
import pandas as pd
import os

# 1. 저장 경로 생성
save_dir = "세일즈파일/"
os.makedirs(save_dir, exist_ok=True)

# 2. 현대 파일 로드 및 국가명 매핑
df_hyundai = pd.read_csv("../processed/현대_해외공장판매실적_전처리.CSV")
df_hyundai["공장 국가"] = df_hyundai["해외 공장"].map({
    "HMI": "인도", "HAOS": "터키", "BHMC": "중국", "HMMA": "미국", "HMMC": "체코",
    "HMMR": "러시아", "HMB": "브라질", "HMMI": "인도네시아", "HTBC": "태국",
    "HMGMA": "말레이시아", "KMX": "멕시코", "Others": "기타", "Russia": "러시아",
    "Vietnam": "베트남", "Singapore": "싱가포르", "CKD": "기타"
})

# 3. 기아 파일 로드 및 국가명 매핑
df_kia = pd.read_csv("../processed/기아_해외공장판매실적_전처리.CSV")
df_kia["공장 국가"] = df_kia["공장명(국가)"].map({
    "US Plant": "미국", "China Plant": "중국", "China Plants": "중국",
    "Slovakia Plant": "슬로바키아", "Mexico Plant": "멕시코", "India Plant": "인도"
})

# 4. 병합
df_all = pd.concat([df_hyundai, df_kia], ignore_index=True)

# 5. 저장
output_path = os.path.join(save_dir, "00_해외공장판매실적.csv")
df_all.to_csv(output_path, index=False, encoding="utf-8-sig")

print("✅ 저장 완료:", output_path)

✅ 저장 완료: 세일즈파일/00_해외공장판매실적.csv

In [23]:
import pandas as pd
import os

# 파일 경로 (현재 노트북은 data/세일즈파일/aa.ipynb 이므로 상위 폴더로 이동)
file_model = "../processed/현대_차종별판매실적_전처리.CSV"
file_sales = "../processed/현대_판매실적_전처리.CSV"

# CSV 읽기
df_model = pd.read_csv(file_model)
df_sales = pd.read_csv(file_sales)

# 차량 유형 영어 → 한글 매핑 딕셔너리
type_mapping = {
    "Passenger Car": "승용차",
    "Commercial Vehicle": "상용차",
    "Recreational Vehicle": "RV",
    "Special Vehicle": "특수차",
    "Total": "전체"
}

# 차량 유형 컬럼 값 변환 및 컬럼명 통일
def standardize(df):
    df = df.copy()
    df["차량 구분"] = df["차량 유형"].map(type_mapping)
    df.drop(columns=["차량 유형"], inplace=True)
    # 월 컬럼 숫자형 변환
    month_cols = [f"{i}월" for i in range(1, 13)]
    df[month_cols] = df[month_cols].apply(pd.to_numeric, errors='coerce')
    return df

df_model_cleaned = standardize(df_model)
df_sales_cleaned = standardize(df_sales)

# 저장 경로 지정
save_model = "../processed/현대_차종별판매실적_전처리_v2.CSV"
save_sales = "../processed/현대_판매실적_전처리_v2.CSV"

# 저장
df_model_cleaned.to_csv(save_model, index=False, encoding="utf-8-sig")
df_sales_cleaned.to_csv(save_sales, index=False, encoding="utf-8-sig")

print("✅ 전처리 완료 및 저장 완료:")
print("-", save_model)
print("-", save_sales)

# 결과 미리보기 (옵션)
df_model_cleaned.head()

✅ 전처리 완료 및 저장 완료:
- ../processed/현대_차종별판매실적_전처리_v2.CSV
- ../processed/현대_판매실적_전처리_v2.CSV

,차종,1월,2월,3월,4월,5월,6월,7월,8월,9월,10월,11월,12월,연도,차량 구분
0,i10 (AC3),4791,3820.0,5365.0,3514.0,4714.0,5812.0,4593.0,2961.0,4762.0,3965.0,4564.0,3953.0,2023,NaN
1,i20 (GB),0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2023,NaN
2,i20 (BC3),3100,3221.0,5174.0,4437.0,4722.0,4607.0,4908.0,3119.0,4747.0,3872.0,3459.0,3041.0,2023,NaN
3,i20 N (BC3 N),202,194.0,600.0,360.0,444.0,342.0,298.0,379.0,663.0,592.0,597.0,634.0,2023,NaN
4,Elantra,117,131.0,108.0,181.0,147.0,237.0,198.0,90.0,40.0,31.0,80.0,30.0,2023,NaN

In [ ]:
import pandas as pd

# 1. 파일 경로
model_path = "../processed/기아_차종별판매실적_전처리.CSV"
sales_path = "../processed/기아_해외판매_전처리.CSV"

# 2. CSV 불러오기
df_model = pd.read_csv(model_path)
df_sales = pd.read_csv(sales_path)

# 3. 차량 유형 영어 → 한글 매핑
type_map = {
    "Passenger Car": "승용차",
    "Commercial Vehicle": "상용차",
    "Recreational Vehicle": "RV",
    "Special Vehicle": "특수차",
    "Total": "전체"
}

# 4. 전처리 함수 정의
def preprocess(df):
    df = df.copy()
    if "차량 유형" in df.columns:
        df["차량 구분"] = df["차량 유형"].map(type_map)
        df = df.drop(columns=["차량 유형"])
    # 월별 컬럼 숫자형 변환
    month_cols = [f"{i}월" for i in range(1, 13)]
    df[month_cols] = df[month_cols].apply(pd.to_numeric, errors="coerce")
    return df

# 5. 전처리 실행
df_model_clean = preprocess(df_model)
df_sales_clean = preprocess(df_sales)

# 6. 저장
df_model_clean.to_csv("기아_차종별판매실적_전처리_v2.CSV", index=False, encoding="utf-8-sig")
df_sales_clean.to_csv("기아_판매실적_전처리_v2.CSV", index=False, encoding="utf-8-sig")

print("✅ 현대 스타일로 기아 전처리 및 저장 완료")

KeyError: "None of [Index(['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월',\n       '12월'],\n      dtype='object')] are in the [columns]"